Repository VHDL/Compliance-Tests, pull requests merged in 2023-03, with the labels that each got.

#15 ci: merge workflows
  .github/workflows/CoSim.yml
  .github/workflows/Test.yml
  run.py
Labels: Enhancement, CI: GitHub Action

#17 add doc
  .btd.yml
  .github/workflows/Test.yml
  README.md
  doc/.gitignore
  doc/Doc-License.rst
  doc/License.rst
  doc/Makefile
  doc/References.rst
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
Labels: Documentation, VHDL-2019, CI: GitHub Action

#21 Adding a test for external names.
  vhdl_2008/tb_external_names.vhd
Labels: Enhancement, VHDL-2008

#19 Adding simple matching case test for VHDL-2008.
  vhdl_2008/tb_matching_case.vhd
Labels: Enhancement, VHDL-2008

#22 Update README with more information.
  doc/Usage.md
  doc/conf.py
  doc/index.rst
  doc/requirements.txt
Labels: Documentation, Enhancement

#23 ci: do not run tests in parallel
  .github/workflows/Test.yml
Labels: CI: GitHub Action

#30 run: use GITHUB_STEP_SUMMARY when running within GitHub Actions
  .github/workflows/Test.yml
  run.py
Labels: Enhancement, Tools: VUnit, CI: GitHub Action

#20 Adding a test for generic packages on entities.
  vhdl_2008/tb_generic_packages_on_entity.vhd
Labels: Enhancement, VHDL-2008

#34 Add link to Usage in README.
  README.md
Labels: Documentation, Enhancement

#35 Add tests of LCS-2016-043
  vhdl_2019/tb_043.vhd
Labels: Enhancement, VHDL-2019

#36 ci: run tests with ghdl (mcode), ghdl/llvm and nvc; using containers from hdl/containers
  .github/run.sh
  .github/workflows/Test.yml
  requirements.txt
Labels: Enhancement, Simulator: GHDL, CI: GitHub Action, Simulator: NVC
